/********************************************************/
/*    Stylesheet for Black Mirror tribute site          */
/*    Author: David Solera Romero                       */
/*    Version: 1.0                                      */
/*    Comment: Project for Lenguajes de Marcas - 1ºDAM  */
/********************************************************/
/* El proyecto sigue la lógica MOBILE FIRST */
/* Incluimos una familia de fuentes */
@font-face { src: url(../fonts/OpenSans-Regular.ttf);
            font-family: textonormal;}

@font-face { src: url(../fonts/proxima-nova-bold.otf);
            font-family: blackmirror;}

* {box-sizing: border-box;}

body { margin:0; padding: 0; /* Eliminamos el espacio superior en el body */
    background-color: #13131c;
    color: #cecad3;
    font-family: textonormal;}

h1 {font-family:blackmirror;
    font-weight: bold;
    text-align: center;
    color:#ececed;
    text-shadow: 2px 2px 2px rgb(169, 165, 165);}

h3 {
    font-family:blackmirror;
    font-weight: bold;
    color:#ececed;
    margin: 0;
}

#wrapper{background-color: #1f2021; 
        width: 100%; /* El contenido de la página no llega de punta a punta */
        margin:auto;} /* Se centra el bloque al centro */

/* Buttons hover */

button,
button::after {
 padding: 16px 20px;
 font-size: 18px;
 background: linear-gradient(45deg, transparent 5%, #000000 5%);
 border: 0;
 color: #fff;
 letter-spacing: 3px;
 line-height: 1;
 box-shadow: 6px 0px 0px #d4d4d4;
 outline: transparent;
 position: relative;
}

button:hover {
    background-color: #000000;
    color: white;
    transition-duration: 1s;}

button::after {
 --slice-0: inset(50% 50% 50% 50%);
 --slice-1: inset(80% -6px 0 0);
 --slice-2: inset(50% -6px 30% 0);
 --slice-3: inset(10% -6px 85% 0);
 --slice-4: inset(40% -6px 43% 0);
 --slice-5: inset(80% -6px 5% 0);
 content: "READ MORE";
 display: block;
 position: absolute;
 top: 0;
 left: 0;
 right: 0;
 bottom: 0;
 background: linear-gradient(45deg, transparent 3%, #171717 3%, #000000 5%, #101010 5%);
 text-shadow: -3px -3px 0px #9e9e9e, 3px 3px 0px #040404;
 clip-path: var(--slice-0);
}

button:hover::after {
 animation: 1.5s glitch;
 animation-timing-function: steps(2, end);
}

@keyframes glitch {
0% {
 clip-path: var(--slice-1);
 transform: translate(-20px, -10px);
}
10% {
 clip-path: var(--slice-3);
 transform: translate(10px, 10px);
}
20% {
 clip-path: var(--slice-1);
 transform: translate(-10px, 10px);
}
30% {
 clip-path: var(--slice-3);
 transform: translate(0px, 5px);
}
40% {
 clip-path: var(--slice-2);
 transform: translate(-5px, 0px);
}
50% {
 clip-path: var(--slice-3);
 transform: translate(5px, 0px);
}
60% {
 clip-path: var(--slice-4);
 transform: translate(5px, 10px);
}
70% {
 clip-path: var(--slice-2);
 transform: translate(-10px, 10px);
}
80% {
 clip-path: var(--slice-5);
 transform: translate(20px, -10px);
}
90% {
 clip-path: var(--slice-1);
 transform: translate(-10px, 0px);
}

100% {
 clip-path: var(--slice-1);
 transform: translate(0);
}
}

/* Estilo de la barra de navegación */
.fa-arrow-circle-up {
    font-size: 2.5em !important;
    position: fixed;
    right: 0%;
    bottom: 0px;   
    z-index: 2;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    text-decoration: none;
    position: sticky;
    top: 0;
    z-index: 999;
    font-family: blackmirror;
}

  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

  /* Add an active class to highlight the current page */
.topnav a.active {
    color: black;
    font-family: blackmirror;
    font-size: 1.2em;
    font-weight: bold;
}

  /* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Media Queries Nav Bar */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
        float: right;
        display: block;
    }
}

  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
}
.topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
}
}

/* Estilo de la Hero Section */ 

#hero {
    background-image: url(../img/imagenmovil.webp);
    height: 100vh; /* Cubre el alto de la ventana */
    background-size: cover; /* La imagen cubre todo el fondo */
    background-position: 50%;
    position: relative; /* Caja que va cambiando de posición */}
#hero button {
    left:50%;
    top: 75vh;
    transform: translate(-50%, -50%);} /* Regla necesaria para que el botón se quede centrado, junto a absolute, left y top */
button {border: none;
    position: absolute; /* Caja con posicionamiento fijo */
    text-align: center;
    font-weight: bold;
    font-size: 1.1em;
    padding: 6px 17.5px;
    border-radius: 15.5px;}

/* Intro Section */

.grid2 {
    display: grid;
    grid-template-columns: 100%; /* MOBILE FIRST */
    margin-top: 40px;
    text-align: justify;
    margin-bottom: 4%;
}

.col-2 {
    padding-left: 7.5%;
    padding-right: 7.5%;
    padding-top: 6.75%;
}

.grid2 img{
    width: 100%;
}

.grid2 #col1 {
    padding-top: 10%;
}

/* SESSIONS SECTION */

#sessions {
    background-color: #131111;
}

.grid4 {
    display:grid;
    grid-template-columns: 100%;
    padding-bottom: 4%;
}

#sessions h1 {
    padding-top: 36px;
}

.col-4 {
    margin-left: 4%;
    padding-left: 5%;
    margin-right: 4%;
    padding-right: 5%;
    text-align: justify;
    padding-top: 15px;
    padding-bottom: 51px;
    margin-bottom: 14px;
    border: 2.5px solid white;
    border-radius: 7.5px;
    opacity: 0.75;
}

.grid4 img {
    width: 100%;
    border-radius: 3px;
    padding-bottom: 10px;
}

.col-4:hover {
    opacity: 1;
    transition: 1s;
    box-shadow: 0.1px 0.1px 17.5px grey;
    background-color: #1c1c1c;;
}

/* Mobile first */

@media only screen and (width > 770px) {
    .grid4 {
        grid-template-columns: 50% 50%;
    }
    .col4 {
        padding-left: 4%;
        padding-right: 4%;
    }
}
@media only screen and (width > 1090px) {
    #hero {
        background-image: url(../img/hero.jpg); /* Imagen de fondo Hero Section */
    }
    #wrapper{
        width : 80%;
    }
    .grid2 {
        grid-template-columns: 50% 50%;
    }
    .col-2 {
        padding-right: 0%;
        padding-top: 5%;
    }
    .grid2 #col1 {
        padding-right: 7.5%;
        padding-top: 12.5%;
    }
    .grid4 {
        grid-template-columns: auto auto auto;
    }
}